.CartCounter {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.counter-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 13px 0px #0000000D;
    border-radius: 8px;
    padding: 24px 40px;
}

.counter-second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 13px 0px #0000000D;
    border-radius: 8px;
    padding: 24px 40px;
}

.counter-third {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 13px 0px #0000000D;
    border-radius: 8px;
    padding: 24px 40px;
}

.counter-names {
    display: flex;
    flex-direction: column;
    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.p-cost {
    color: black;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
}

.img-text {
    color: black;
}

.p-final-cost {
    color: black;
}

.img-name {
    display: flex;
    align-items: center;
    gap: 20px;
}

.input-cost {
    width: 72px;
    height: 44px;
    opacity: 1;
    border-radius: 4px;
    border-width: 1.5px;
    margin-right: 20px;
}

.putt,
.text {
    position: absolute;
}

.padd {
    position: relative;
    left: 398px;
}

.put {
    position: relative;
    left: 150px;
}

.top-text-counter {
    display: flex;
    gap: 12px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.count-home {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #7F7F7F;
}

.count-slash {
    color: #7F7F7F;
}

.count-cart {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: black;
}

.counter-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 80px;
}

.count-btn {
    font-weight: bold;
}




.cupon-input {
    width: 300px;
    height: 56px;
    opacity: 1;
    border-radius: 4px;
    border-width: 1px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 24px;
}

.cupon-btn {
    width: 211px;
    height: 56px;
    gap: 10px;
    opacity: 1;
    border-radius: 4px;
    padding: 16px 48px;
    border: none;
    background: #DB4444;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.counter-cupon {
    display: flex;
    gap: 16px;
}

.check-text {
    color: black;
}

.counter-checkout {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 470px;
    height: 324px;
    opacity: 1;
    border-radius: 4px;
    border: 2.5px solid black;
}

.check-name {
    color: black;
    padding-right: 24px;
    padding-left: 24px;
}

.check-cost-name {
    display: flex;
    justify-content: space-between;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 16px;
}

.btn-checkout {
    display: flex;
    justify-self: center;
}

.border-check {
    /* width: 422px; */
    /* opacity: 1; */
    border-width: 1px;
    border-bottom: 2px solid #999999;
    margin-left: 24px;
    margin-right: 24px;
}

.something {
    border-bottom: none;
}

.btn-checkout {
    display: flex;
    justify-content: center;
    padding-top: 16px;
}

.check-name {
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: black;
    padding-bottom: 24px;
}

.for-top {
    padding-top: 8px;
}

.checkout-btn {
    width: 260px;
    height: 56px;
    gap: 10px;
    opacity: 1;
    border-radius: 4px;
    padding: 16px 48px;
    border: none;
    background: #DB4444;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: white;
}

.counter-bottom{
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;
}