.product__wrapper {
    display: flex;
    gap: 30px;
    padding: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product__wrapper::-webkit-scrollbar {
    display: none;
}

.cart-top {
    position: relative;
    width: 270px;
    height: 250px;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.product__img,
.eye,
.like {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__img {
    position: absolute;
    top: 45px;
    left: 45px;
}

.product__activates {
    position: absolute;
    top: 12px;
    right: 12px;
    flex-direction: column;
    gap: 8px;
}

.eye,
.like {
    background-color: #fff;
    border-radius: 50%;
    padding: 8px 6px;
}

.cart-btn {
    position: absolute;
    top: 210px;
    width: 100%;
    height: 42px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 0 0 4px 4px;
}

.cart-top:hover .cart-btn {
    display: flex;
}

.add__to-cart {
    font: 500 16px/24px medium;
    color: #fff;
    background-color: black;
    border: none;
}

.name-p,
.original__cost,
.current__cost {
    font: 500 16px/24px medium;
}

.name-p {
    color: black;
}

.current__cost {
    color: #db4444;
}

.original__cost {
    color: #7f7f7f;
    text-decoration: line-through;
}

.product__cost {
    display: flex;
    gap: 12px;
    padding: 8px 0p;
}

.product__rating {
    display: flex;
    align-items: center;
    gap: 8px;
    font: 600 14px/21px;
    color: #7f7f7f;
}

.modal__overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal__content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.modal-img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 18px;
}

.modal-name,
.modal-text {
    color: black;
}

.modal-name {
    font-weight: bold;
}

.sales {
    padding-bottom: 40px;
}

.sales__top {
    display: flex;
    align-items: center;
    gap: 36px;
    height: 40px;
    width: 20px;
    border-radius: 4px;
    background-color: #db4444;
    margin-top: 140px;
}

.sales__top-p {
    font: 600 16px/20px;
    color: #db4444;
}

.sales__top-h1 {
    font: 600 36px/48px;
    color: black;
    padding-top: 24px;
    letter-spacing: 4%;
}

.sales-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 82px;
}

.sales__title-btn {
    display: flex;
    gap: 8px;
}

.title-btn {
    border: none;
    border-radius: 50%;
    padding: 11px;
}

.colors {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.color {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.2s;
}

.color.active {
    border: 2px solid black;
    box-shadow: 0 0 0 2px #fff inset;
}

.badge.new {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #00ff66;
    color: #fff;
    font: 400 12px/18px;
    padding: 4px 12px;
    border-radius: 4px;
}

.our__btn {
    display: flex;
    justify-content: center;
    padding: 60px 0;
}

.view-btn {
    border: none;
    border-radius: 4px;
    padding: 16px 48px;
    background-color: #db4444;
    color: #fff;
}

.our-span {
    margin-left: 0px;
}

.product-name {
    font-weight: medium;
    font-size: 16px;
    line-height: 24px;
    color: black;
}

