.SignUp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 140px;
}

.sign-img {
    margin-left: -120px;
}

.account{
    display: flex;
    flex-direction: column;
}

.account-input{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 48px;
    padding-bottom: 40px;
}

.account-btn{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 42px;
}

.create-account{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.create-p {
    font-weight: 500;
    font-style: Medium;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 4%;
    color: black;
}

.create-second-p {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    color: black;
}


.name-number-email {
    width: 370px;
    height: 32px;
    gap: 8px;
    opacity: 1;
    border: none;
    border-bottom: 1px solid black;
}

.create-btn {
    width: 371px;
    height: 56px;
    gap: 10px;
    opacity: 1;
    border-radius: 4px;
    padding: 16px 122px;
    background: #DB4444;
    border: none;
    color: white;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
}

.sign-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 371px;
    height: 56px;
    gap: 10px;
    opacity: 1;
    border-radius: 4px;
    padding: 16px 86px;
    border-width: 1px;
    background: none;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
}

.link {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    color: black;
}

.link-span {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    color: black;
    text-decoration: underline;
}

.account-link{
    display: flex;
    justify-content: center;
    gap: 16px;
}