.scroll-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #F5F5F5;
    border: none;
    outline: none;
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: all 0.3 ease;
    z-index: 9999;
}