.login-btn {
    width: 143px;
    height: 56px;
    gap: 10px;
    opacity: 1;
    border-radius: 4px;
    padding: 16px 48px;
    background: #DB4444;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    border: none;
    color: white;
}

.account-forgot {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    color: #DB4444;
}

.login-btn-p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}