.car-wrapper{
    padding: 20px;
}

.cart-card{
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #fafafa;
}

.cart-card img{
    width: 100px;
    height: auto;
    border-radius: 6px;
}

.cart-info h3{
    margin: 0;
    font-size: 16px;
    color: black;
}

.cart-info p{
    margin: 4px 0;
    font-size: 14px;
    color: black;
}

.remove-btn{
    margin-top: 8px;
    padding: 6px 10px;
    background: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.remove-btn:hover{
    background-color: #e60000;
}