/* gamepad */

.main-img {
    width: 500px;
    height: 600px;
    /* object-fit: contain; */
    /* rasm cho'zilib ketmasin */
}

.tb__text {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px;
}

.tb__spn {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #999999;
}

.tb__p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.small__imgs {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 16px;
}

.pad__imgs {
    display: flex;
    gap: 30px;
}

.gamepad {
    display: flex;
    gap: 70px;
    margin-bottom: 140px;
}

.big-img {
    width: 500px;
    height: 600px;
    opacity: 1;
    border-radius: 4px;
}

.gaming-top {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 60px;
    padding-left: 10px;
}

.gaming-span {
    display: inline-block;
    width: 20px;
    height: 40px;
    border-radius: 4px;
    background-color: #DB4444;
}

.gaming-span-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #DB4444;
}


















/* about gamepad */

.gamepad__rank {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    gap: 8px;
}

.gamepad__stock {
    border-left: 1px solid #999999;
    padding-left: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #00FF66;
}

.gamepad__h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #000;
}

.rank__p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #999999;
    padding-right: 16px;
}

.pad__price {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-top: 16px;
    color: #000;
}

.pad__about {
    width: 373px;
    font-family: sans-serif;
    margin-top: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding-bottom: 24px;
    border-bottom: 1px solid #999999;
    color: #000;
}

.about {
    margin-bottom: 24px;
}

.span-own {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #E07575;
}

.span-own:hover {
    transition: all 0.5s ease;
    background-color: #A0BCE0;
    border: 4px solid black;
}

.spans {
    display: flex;
    gap: 8px;
}

.colours {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;
}

.color__p {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #000;
}

.size__btn {
    width: 32px;
    height: 32px;
    padding: 6px 7px 6px 7px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: white;
    color: #000;
}

.size__btn:hover {
    background-color: #DB4444;
    color: white;
    transition: all 0.5s ease;
}

.size__p {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #000;
}

.size {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    gap: 24px;
}

.counter {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    width: 159px;
    height: 44px;

}

.count__btn {
    width: 40px;
    height: 41px;
    background-color: white;
    color: black;
    border: 2px solid #999999;
    border-radius: 4px;
    font-size: 22px;
    cursor: pointer;
}


.count__btn:hover {
    background-color: #DB4444;
    color: white;
    transition: all 0.5s ease;
}

.count__btn:focus {
    outline: none;
}

.span__count {
    height: 39px;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 34px;
    border-top: 2px solid #999999;
    border-bottom: 2px solid #999999;
}

.buy__btn {
    width: 165px;
    height: 44px;
    padding: 10px 48px 10px 48px;
    gap: 10px;
    border-radius: 4px;
    background-color: #DB4444;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.heart__pad {
    width: 40px;
    height: 40px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #999999;
}

.count {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
    color: #000;
}

.bus {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 24px 50px 16px 16px;
    border: 2px solid #999999;
    width: 399px;
    /* height: 180px; */
    border-radius: 4px;
}

.bus__p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
}

.bus__scnd {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: black;
}

.return {
    border-top: 0px solid white;
}

.gaming-count-button {
    display: flex;
    gap: 16px;
}