.about-img {
    display: flex;
    justify-content: end;
    margin-right: -120px;
}

.about-our {
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 54px;
    line-height: 64px;
    letter-spacing: 6%;
    color: black;
}

.about-text {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 26px;
    color: black;
}

.about-img-text {
    display: flex;
    padding-bottom: 140px;
    gap: 227px;
    align-items: center;
}

.own-about-p {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 40px;
    width: 468px;
}






.item-cost {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.item-cost-p {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 4%;
    color: black;
}

.item-cost-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: black;
}

.about-stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border: 1px solid #B3B3B3;
    width: 270px;
    height: 230px;
    border-radius: 4px;
}

.about-stats-item:hover {
    background-color: #DB4444;

    .item-cost-p {
        color: white;
    }

    .item-cost-text {
        color: white;
    }

    transition: 0.3s ease;

}

.about-stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;
}

.about-tom {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 32px;
    margin-bottom: 16px;
}

.tom-name {
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 4%;
    color: black;
}

.tom-job {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;
}

.social-medias {
    display: flex;
    gap: 16px;
}

.about-carts {
    display: flex;
    justify-content: space-between;
}

.tom-span {
    width: 12px;
    height: 12px;
    background-color: #808080;
    display: inline-block;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3 ease;
}

.tom-spans{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 140px;
    margin-top: 40px;
    gap: 12px;
}