.product__wrapper {
    display: flex;
    gap: 30px;
    padding: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product__wrapper::-webkit-scrollbar {
    display: none;
}

.cart-top {
    position: relative;
    width: 270px;
    height: 250px;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.product__img,
.eye,
.like {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__img {
    position: absolute;
    top: 45px;
    left: 45px;
}

.product__span {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 55px;
    height: 28px;
    padding: 4px 12px;
    border-radius: 4px;
    background-color: #DB4444;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.product__activates {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.eye,
.like {
    background-color: #fff;
    border-radius: 50%;
    padding: 8px 6px;
}

.cart-btn {
    position: absolute;
    top: 209px;
    width: 270px;
    height: 41px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 0 0 4px 4px;
}

.cart-top:hover .cart-btn {
    display: flex;
}

.add__to-cart {
    font: 500 16px/24px medium;
    color: #fff;
    background-color: #000;
    border: none;
}

.name-p,
.current__cost,
.original__cost {
    font: 500 16px/24px medium;
}

.name-p{
    color: #000;
}

.current__cost{
    color: #DB4444;
}

.original__cost{
    color: #7f7f7f;
    text-decoration: line-through;
}

.product__cost {
    display: flex;
    gap: 12px;
    padding: 8px 0;
}

.product__rating{
    display: flex;
    align-items: center;
    gap: 8px;
    font: 600 14px/21px;
    color: #7f7f7f;
}

.cart-bottom{
    padding-top: 16px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
  position: relative;
}

.modal-img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 18px;
}

.modal-name{
    font-weight: bold;
    color: black;
}

.modal-text{
    font-weight: inherit;
    color: black;
}