.own__music {
    display: flex;
    align-items: center;
    gap: 44px;
    background-color: black;
    width: 1282px;
    height: 500px;
    margin-bottom: 71px;
    margin-top: 140px;
}

.test {
    background: white;
    height: 100px;
}

.text-categories {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #00FF66;
}

.text-experience {
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 4%;
}

.text-days {
    display: flex;
    gap: 24px;
}

.text-hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 68px;
    background-color: white;
    border-radius: 50%;
    color: black;
    padding: 8px 35px;
}

.time {
    font-weight: bold;
}

.btn-p{
    width: 171px;
    height: 56px;
    opacity: 1;
    gap: 10px;
    border-radius: 4px;
    padding: 16px 48px;
    background-color: #00FF66;
    border: none;
    color: white;
}

.music__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    margin-left: 56px;
}