.footer-own {
    display: flex;
    align-items: center;
    gap: 88px;
    width: 1521px;
    background: #000;
    margin-left: -121px;
}

.the-bottom {
    display: flex;
    justify-content: center;
    width: 1521px;
    background: #000;
    margin-left: -121px;
}

.f-exc {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 80px 0 108px 135px;
}

.inp-icon {
    position: relative;
}

.img-icon {
    position: absolute;
    top: 12px;
    left: 180px;
}

.inp-exc {
    width: 217px;
    height: 48px;
    gap: 32px;
    opacity: 1;
    border-radius: 4px;
    border-width: 1.5px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    background: none;
}

.first-exc {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
}

.second-exc {
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 28px;
}

.third-exc {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
}


















.f-center {
    display: flex;
    gap: 86px;
}

.f-link,
.f-account,
.f-support {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.f-support {
    width: 175px;

}

.f-sup {
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 28px;
}

.f-adress {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
}













.forGo-link {
    display: flex;
    gap: 8px;
}

.f-download {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.f-websites {
    display: flex;
    gap: 24px;
}

.margin-app {
    padding-bottom: 20px;
}

.user {
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    line-height: 18px;
    color: #AFAFAF;
}

.forGo-link {
    padding-bottom: 8px;
}








.bottom-p {
    color: #3D3D3D;
}

.the-bottom {
    border-top: 1px solid #141414;
    padding-top: 16px;
    padding-bottom: 16px;
}